<h3>{{ messageId }}</h3>
<form>
	<input type="text" ng-model="id" hidden>
	<br>
	<input type="text" class="form-control" ng-model="subject" placeholder="Subject">
	<br>
	<br>
	<div text-angular ng-model="htmlMessage"></div>
	<br>
	<br>
	<div class="btn-group" role="group" aria-label="...">
		<button ng-click="saveMessage()" type="button" class="btn btn-success"> <i class="fa fa-save"></i> Save</button>
		<button type="button" class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</button>
		<!-- <button type="button" class="btn btn-success"> <i class="fa fa-edit"></i> Update</button> -->
	</div>
</form>
