<!-- <div login-dialog ng-if="!isLoginPage"></div> -->
<div class="">
	<div class="alert alert-info" role="alert">Check your email for login info. (Spam folder too)</div>
	<hr>
	<iframe src="api/index.php/auth/sink" name="sink" style="display:none"></iframe>
	<form name="loginForm" ng-if="!showForgetPassword" action="api/index.php/auth/sink" method="post" target="sink" ng-submit="login(credentials)" novalidate form-autofill-fix>
		<div class="form-group">
			<legend>Login</legend>
		</div>
		<!-- <input type="text" ng-model="credentials.csrf_test_name" value="{{credentials.csrf_test_name}}" hidden> -->
		<div class="alert alert-danger" ng-if="loginFailed">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Wrong</strong> NSU ID or password ...
		</div>
		<div class="form-group">
			<label for="">NSU ID</label>
			<input type="number" class="form-control" name="nsuId" ng-model="credentials.nsu_id" placeholder="Your NSU ID" required>
			<span class="label label-danger" ng-if="loginForm.nsuId.$error.required && loginForm.nsuId.$dirty">NSU ID Required</span>
			<span ng-show="loginForm.nsuId.$error.number && loginForm.nsuId.$dirty" class="label label-danger">Invalid NSU ID.</span>
		</div>
		<div class="form-group">
			<label for="">Password</label>
			<input type="password" class="form-control" name="password" ng-model="credentials.password" placeholder="Password" required>
			<span class="label label-danger" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password Required</span>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$pristine || loginForm.$invalid || buttonClicked">Submit</button>
		<!-- &nbsp;&nbsp;&nbsp;&nbsp; <a ng-click="toggleForm()" href="">Forget Password</a> -->
	</form>

	<form name="recovery" ng-if="showForgetPassword" role="form" ng-submit="resendPassword()" novalidate>
		<div class="form-group">
			<legend>Forget Password</legend>
		</div>

		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" class="form-control" ng-model="recoveryEmail" placeholder="Your email" required>
			<span class="label label-danger" ng-if="recovery.email.$error.required && recovery.email.$dirty">Email required.</span>
			<span ng-if="recovery.email.$error.email && recovery.email.$dirty" class="label label-danger">Invalid email address.</span>
		</div>


		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="recovery.$pristine || recovery.$invalid">Submit</button>
			&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="toggleForm()" href="">Login</a>
		</div>
	</form>
</div>