<div class="jumbotron" style="background-color: rgba(236, 240, 241, 0.65);">

	<h1 style="margin-top:0px;">Welcome!</h1>

	<p class="lead">

		<img src="images/logo_detail.png" alt="NSU Logo" class="img-responsive" style="padding-top:50px;margin:auto;"><br>

		<a ng-if="!isAuthorized([userRoles.admin,userRoles.user])" href="#/survey"><button type="button" class="btn btn-default btn-primary">Sign Up</button></a>

	</p>

	<!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->

</div>