<!-- 
<div style="background: rgba(0, 0, 0, 0.5);z-index: 1000000;position: fixed;top: 0;left: 0;width:100%;height:100%;">
	<div style="position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;">
		<i class="fa fa-spinner fa-pulse fa-3x" style="color:#fff;"></i>
	</div>
</div> -->
<!-- 
<div id='loading_div' style="position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);z-index: 1000000;">
	<i class="fa fa-spinner fa-pulse fa-3x" style="position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;margin: auto;color:#fff;"></i>
</div>
-->

<style type="text/css">
.loader-inner{
	position: fixed;
	background: rgba(125, 125, 125, 0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}
.loader-inner div{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: rgba(255, 1, 1, 0.5);
}
</style>

<div class="loader-inner ball-scale-multiple" ng-show="loader">
	<div></div>
	<div></div>
	<div></div>
</div>

<h3>Total Alumni: {{totalAlumni}}</h3>
<table class="table table-responsive table-condensed table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>Full Survey Complete: {{completionStat.full}}</th>
			<th>Partial Survey Complete: {{completionStat.partial}}</th>
		</tr>
		<tr>
			<th>Survey Level</th>
			<th>Completed</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Personal Info</td>
			<td>{{completionStatistics.personalInfo}}</td>
		</tr>
		<tr>
			<td>Life After Graduation Part:1</td>
			<td>{{completionStatistics.lag1}}</td>
		</tr>
		<tr>
			<td>Life After Graduation Part:2</td>
			<td>{{completionStatistics.lag2}}</td>
		</tr>
		<tr>
			<td>Experience</td>
			<td>{{completionStatistics.exp}}</td>
		</tr>
		<tr>
			<td>Comment</td>
			<td>{{completionStatistics.comment}}</td>
		</tr>
	</tbody>
</table>


<legend>
	<select ng-model="questionNo" class="form-control" ng-change="getQuestionStat(questionNo)">
		<option value="">Select Question</option>
		<optgroup label="Personal Info">
			<option value="country">Country</option>
			<option value="address">Address</option>
			<option value="ugTitle">Title of undergraduate degree</option>
			<option value="gTitle">Title of graduate degree</option>
			<option value="methodOfContact">Preferred method of contact</option>
		</optgroup>
		<optgroup label="Life After Graduation Part-1">
			<option value="afterGraduationInfo">Life After Graduation</option>
			<option value="jobNumber">If you will have more than one job on 12 January 2015, how many jobs will you have in total?</option>
			<option value="jobTitle">For the following questions, please provide details of your current position. <br>
				What is your job title?</option>
				<option value="jobResponsibility">What do you mainly do in your job?</option>
				<option value="jobRelationToStudy">Is your current position related to your undergraduate field(s)of study?</option>
				<option value=""></option>
			</optgroup>
			<optgroup label="SECTION B: Life after Graduation">

				<option value="currentPositionStatus">In your current position are you _______</option>
				<option value="jobQualification">If employed, did you need the qualification you recently obtained to get the job? </option>
				<option value="jobDecision">Why did you decide to take the job you will be doing or are currently doing?</option>
				<option value="jobSource">How did you first find out about the job?</option>
				<option value="nsuPrep">How well did North South University prepare you for your current career or for the activities mentioned in question 11?</option>
			</optgroup>
			<optgroup label="SECTION C: Your overall education experience">
				<option value="yearGap">How many years after you finished undergrad did you start your graduate or professional education?</option>
				<option value="activityPrep">How well have your courses prepared you for each of your following after-graduation activities?</option>
				<option value="coCurriculam">Were you involved in any extra-curricular activities providedby North South University? If yes, then please specify what kind of activity/activities.</option>
				<option value="leadership">How well did the extra-curricular activities that you were involved in (including internships undertaken while you were studying)… prepare you to deal with different challenges in your work life?</option>
				<option value="encourage">Would you encourage a current high school senior who resembles you when you were a high school senior (similar background, ability, interests and temperament) to attend North South University?</option>
				<option value="finance">Did the benefits you received from attending North South University out weigh the financial costs to you and your family? Mark the best answer.</option>
				<option value="connected">Today, how connected do you feel to North South University?</option>
				<option value="pplConnection">Are you regularly in touch with people you met at North South University?(Mark all that apply)</option>
			</optgroup>
			<optgroup label="SECTION D: Comments/Recommendations">
				<option value="q1">Do you think there is more that North South University should offer a student for his/her betterment apart from curricular and extracurricular activities? If yes, please mention below.</option>
				<option value="q2">What would you recommend for North South University to improve its quality, not just in terms of education or extracurricular activities but as an institutionthat would bring the excellence in every student? </option>
				<option value="q3">Comments or any other Recommendations</option>
			</optgroup>
		</select>
	</legend> 
	<legend>
		<input type="text" class="form-control" ng-model="search" placeholder="Search Here">
	</legend>

	<div ng-if="questionNo != 'afterGraduationInfo' && questionNo != 'jobDecision'">
		<table class="table table-responsive table-condensed table-hover table-striped table-bordered">
			<tbody>
				<tr>
					<td>Total Answered</td>
					<td> {{resultCount}} </td>
				</tr>
				<tr>
					<td>All Answers</td>
					<td> 
						<table class="table table-responsive table-condensed table-striped">
							<tbody>
								<tr>
									<th>Answer</th>
									<th>Total</th>
								</tr>
								<tr ng-repeat="(key, value) in resultArray | filter:search">
									<td> {{value.question_answer || 'Blank' }}</td>
									<td> {{value.count}} ({{(value.count/resultCount)*100  | number:2}}%) </td>
								</tr>
							<!-- <tr>
								<td></td>
								<td>{{sum}}</td>
							</tr> -->
						</tbody>
					</table> 
				</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- all results -->
<!-- 
<div class="col-md-6 col-lg-6" ng-if="questionNo != 'afterGraduationInfo'">
	<table class="table table-responsive table-hover table-condensed table-bordered table-striped col-md-6">
		<thead>
			<tr>
				<th>Answer <span class="pull-right">Total: {{resultArraySearch.length}} </span></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in resultArraySearch">
				<td> {{value.question_answer}} </td>
			</tr>

		</tbody>
	</table>
</div> -->

<table class="table table-responsive table-hover table-condensed table-bordered table-striped" ng-if="questionNo == 'afterGraduationInfo'">
	<thead>
		<tr>
			<th>Question</th>
			<th>Total Answered</th>
			<th>Yes</th>
			<th>No</th>
			<th>Important</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Working full-time {{lag1('workingFullTime')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Working part-time {{lag1('workingPartTime')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Due to start a job in the next month {{lag1('startJobNextMonth')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Engaged in full­time further study, training or research {{lag1('furthurStudyTrainingResearch')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Engaged in part-time further study, training or research {{lag1('partTimeStudyTrainingResearch')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Taking time out in order to travel {{lag1('travelTime')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Unemployed[SKIP THE REST OF SECTION B] {{lag1('unemployed')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
		<tr>
			<td>Doing something else (e.g. retired, looking after the home or family) {{lag1('doElse')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
			<td> {{lagResult.important}} </td>
		</tr>
	</tbody>
</table>

<table class="table table-responsive table-hover table-condensed table-bordered table-striped" ng-if="questionNo == 'jobDecision'">
	<thead>
		<tr>
			<th>Question</th>
			<th>Total Answered</th>
			<th>Yes</th>
			<th>No</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>It fitted well with my career plan/it was exactly the type of work I wanted {{lag1('jobDecisionA10')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>It was the best job offer I received {{lag1('jobDecisionA1')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>It was the only job offer I received {{lag1('jobDecisionA2')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>It was an opportunity to progress in the organization {{lag1('jobDecisionA3')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>To see if I would like the type of work it involved training or research {{lag1('jobDecisionA4')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>To gain and broaden my experience in order to get the type of job I really want {{lag1('jobDecisionA5')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>It was in the right location {{lag1('jobDecisionA6')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>The job was well-paid {{lag1('jobDecisionA7')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>In order to earn a living/pay off debts	{{lag1('jobDecisionA8')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Other {{lag1('jobDecisionA9')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
	</tbody>
</table>

<table class="table table-responsive table-hover table-condensed table-bordered table-striped" ng-if="questionNo == 'leadership'">
	<thead>
		<tr>
			<th>Question</th>
			<th>Total Answered</th>
			<th>Yes</th>
			<th>No</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Efficiency in Leadership {{lag1('leadership')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Teamwork {{lag1('teamwork')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Adhere to Punctuality {{lag1('punctuality')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Introducing new ideas in work {{lag1('ideas')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Develop career‐ or work‐related knowledge and skills {{lag1('skill')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Acquire new skills and knowledge on your own {{lag1('newSkill')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Write clearly and effectively {{lag1('writing')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
	</tbody>
</table>

<table class="table table-responsive table-hover table-condensed table-bordered table-striped" ng-if="questionNo == 'activityPrep'">
	<thead>
		<tr>
			<th>Question</th>
			<th>Total Answered</th>
			<th>Yes</th>
			<th>No</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Further Studies {{lag1('activityPrepA1DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Employment {{lag1('activityPrepA2DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Being Self-employed/Freelance {{lag1('activityPrepA3DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Introducing new ideas in work {{lag1('activityPrepA4DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Develop career‐ or work‐related knowledge and skills {{lag1('activityPrepA5DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Acquire new skills and knowledge on your own {{lag1('activityPrepA6DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Write clearly and effectively {{lag1('activityPrepA7DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
		<tr>
			<td>Think analytically and logically {{lag1('activityPrepA8DnA')}}</td>
			<td> {{lagResult.totalCounter}} </td>
			<td> {{lagResult.answerTrue}} </td>
			<td> {{lagResult.answerFalse}} </td>
		</tr>
	</tbody>
</table>
