<div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/598620_4704428061575_433289932_n.jpg?oh=c5af63ee95d5d217a0a5cf801e7d4442&oe=55653474&__gda__=1428250827_b03e08c9a5a4527ad42b18500be639ba" width="200" class="img-responsive img-circle" alt="Fahad Billah" style="margin-left: auto;margin-right: auto;margin-bottom: 30px;padding: 4px;      border: 1px solid #ddd;">
	</div>

	<div class="col-md-12">
		<table class="table table-bordered table-hover table-striped table-responsive">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ user_data.first_name }} {{ user_data.last_name }} </td>
				</tr>
				<tr>
					<th>NSU ID</th>
					<td>{{user_data.nsu_id}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td> <a href="mailto:{{user_data.email}}">{{user_data.email}}</a> </td>
				</tr>
				<tr>
					<th>Phone No.</th>
					<td>{{user_data.phone}}</td>
				</tr>
				<tr>
					<th>About Me</th>
					<td>{{user_data.about_me}}</td>
				</tr>
				<tr>
					<th>Activity Score</th>
					<td>{{user_data.total_point}}</td>
				</tr>
				<tr>
					<th>Referral Link</th>
					<td>
						<iframe style="width:100%;border:none;" src="api/index.php/user/share_referral"></iframe>
						<!-- <div share-square="true" share-links="http://localhost/alumni/app/#/survey/{{user_data.referral_link}}" share-title="NSU School Of Business"></div> -->

						<!-- {{user_data.referral_link}} -->
						<!-- <iframe src="{{referralLink.facebook}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden;height: 19px;width: 60px;" allowtransparency="true"></iframe> -->
						<!-- <div class="fb-share-button" data-href="http://staging.nsuschoolofbusiness.org/#/survey/{{user_data.referral_link}}" data-layout="button"></div> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>