<style type="text/css">
.dropzone{
	position:absolute;
	width: 95%;
	height:100%;
	background-color:rgba(176, 176, 176, 0.5);
	overflow: hidden;
	border: 2px dashed #7E7E7E;
	border-radius: 5px;
	text-align: center;
	line-height: 8;
	font-size: 20px;
	font-weight: 800;
}
</style>
<div class="" style="text-align: center;">
	<span class="label label-info"> <i class="fa fa-exclamation-circle"></i> Change your profile picture by clicking on the picture</span>
	<br>
	<br>

	<!-- minimal -->
	<input type="file" id="link" nv-file-select uploader="uploader" style="display:none;" />
	<!-- <input type="file" id="link" style="display:none;"> -->
	<div class="col-md-12" ng-mouseenter="toggleDropZone(showDropZone)" ng-mouseleave="toggleDropZone(showDropZone)">
		<div class="col-md-12">
			<div ng-if="user_data.id == currentUser.id" class="dropzone" ng-show="showDropZone" ng-click="openExplorer()">
				Click here and upload your profile pic
			</div>
			<img src="api/uploads/profile_pictures/{{ user_data.profile_pic || defaultPic }}" width="200" class="img-responsive img-circle" alt="{{ user_data.first_name }} {{ user_data.last_name }}" style="margin-left: auto;margin-right: auto;margin-bottom: 30px;padding: 4px; border: 1px solid #ddd;">
			<!-- <img src="./images/{{ user_data.profile_pic || defaultPic }}" width="200" class="img-responsive img-circle" alt="Fahad Billah" style="margin-left: auto;margin-right: auto;margin-bottom: 30px;padding: 4px; border: 1px solid #ddd;"> -->
		</div>
	</div>
	<div class="col-md-12" style="text-align: center;">
		<button ng-disabled="disableButton" ng-repeat="item in uploader.queue" type="button" class="btn btn-info" ng-click="item.upload()">Upload</button>
	</div>
	<br>
	<div class="col-md-12">
		<table class="table table-bordered table-hover table-striped table-responsive">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ user_data.first_name }} {{ user_data.last_name }} </td>
				</tr>
				<tr>
					<th>NSU ID</th>
					<td>{{user_data.nsu_id}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td> <a href="mailto:{{user_data.email}}">{{user_data.email}}</a> </td>
				</tr>
				<tr>
					<th>Phone No.</th>
					<td> <a href="tel:{{user_data.phone}}">{{user_data.phone}}</a> </td>
				</tr>
				<tr>
					<th>About Me</th>
					<td>{{user_data.about_me || 'Not available'}}</td>
				</tr>
				<tr>
					<th>Activity Score</th>
					<td>{{user_data.total_point}}</td>
				</tr>
				<tr ng-if="showReferral">
					<th>Referral Link</th>
					<td>
						<iframe style="width:100%;border:none;" src="api/index.php/user/share_referral"></iframe>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <button type="button" class="btn btn-info" ng-click="check()">Check</button> -->
</div>