<div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/598620_4704428061575_433289932_n.jpg?oh=c5af63ee95d5d217a0a5cf801e7d4442&oe=55653474&__gda__=1428250827_b03e08c9a5a4527ad42b18500be639ba" width="200" class="img-responsive img-circle" alt="Fahad Billah" style="margin-left: auto;margin-right: auto;margin-bottom: 30px;padding: 4px;      border: 1px solid #ddd;">
	</div>

	<div class="col-md-12">
		<table class="table table-bordered table-hover table-striped">
			<tbody>
				<tr>
					<th>Name</th>
					<td>Fahad Billah</td>
				</tr>
				<tr>
					<th>NSU ID</th>
					<td>0930527542</td>
				</tr>
				<tr>
					<th>Email</th>
					<td> <a href="mailto:fahadbillah@yahoo">fahadbillah@yahoo</a> </td>
				</tr>
				<tr>
					<th>Phone No.</th>
					<td>01966662623</td>
				</tr>
				<tr>
					<th>About Me</th>
					<td>Nothing much</td>
				</tr>
				<tr>
					<th>Activity Score</th>
					<td>9001</td>
				</tr>
				<tr>
					<th>Referral Link</th>
					<td><a href="localhost/alumni/#/survey/TTulEWIWE">TTulEWIWE</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>