<form name="registration" ng-if="!registrationDone" novalidate>

	<div class="form-group">
		<label for="">First Name</label>
		<input type="text" class="form-control" name="first_name" ng-model="first_name" placeholder="Input field" required>
		<!-- <div class="alert alert-danger" ng-show="registration.first_name.$dirty && registration.first_name.$invalid"> -->
		<span ng-show="registration.first_name.$error.required && registration.first_name.$dirty" class="label label-danger">first_name is required.</span>
		<!-- </div> -->
	</div>

	<div class="form-group">
		<label for="">Last Name</label>
		<input type="text" class="form-control" name="last_name" ng-model="last_name" placeholder="Input field" required>
		<!-- <div class="alert alert-danger" ng-show="registration.last_name.$dirty && registration.last_name.$invalid"> -->
		<span ng-show="registration.last_name.$error.required && registration.last_name.$dirty" class="label label-danger">last_name is required.</span>
		<!-- </div> -->
	</div>


	<div class="form-group">
		<label for="">NSU ID</label>
		<input type="number" class="form-control" name="nsu_id" min="100000" max="9999999999" ng-minlength="6" ng-maxlength="10" ng-model="nsu_id" placeholder="Input field" required>
		<!-- <div class="alert alert-danger" ng-show="registration.nsu_id.$dirty && registration.nsu_id.$invalid"> -->
		<span ng-show="registration.nsu_id.$error.required && registration.nsu_id.$dirty" class="label label-danger">nsu_id is required.</span>
		<span ng-show="registration.nsu_id.$error.number && registration.nsu_id.$dirty" class="label label-danger">Invalid nsu_id.</span>
		<!-- </div> -->
	</div>


	<div class="form-group">
		<label for="">email</label>
		<input type="email" class="form-control" name="email" ng-model="email" placeholder="Input field" required>
		<!-- <div class="alert alert-danger" ng-show="registration.email.$dirty && registration.email.$invalid"> -->
		<span ng-show="registration.email.$error.required && registration.email.$dirty" class="label label-danger">Email is required.</span>
		<span ng-show="registration.email.$error.email && registration.email.$dirty"  class="label label-danger">Invalid email address.</span>
		<!-- </div> -->
	</div>


	<div class="form-group">
		<label for="">Phone</label>
		<input type="text" class="form-control" name="phone" ng-model="phone" placeholder="Input field" required>
		<span ng-show="registration.phone.$error.required && registration.phone.$dirty"  class="label label-danger">phone is required.</span>
	</div>


	<!-- <div class="form-group">
		<label for="">Occupation</label>
		<select name="workType" ng-model="workType" class="form-control" required>
			<option value="">Select Occupation</option>
			<option ng-repeat="(k, v) in allOccupations | toArray | orderBy:'work_name'" value="{{v.work_type_id}}">{{v.work_name}}</option>
			<option value="other">Other</option>
		</select>
		<span ng-show="registration.workType.$error.required && registration.workType.$dirty"  class="label label-danger">Occupation is required.</span>
	</div>


	<div class="form-group" ng-if="showOther(workType)">
		<label for="">Other occupation</label>
		<input  name="otherWorkType" ng-model="otherWorkType" class="form-control" required>
		<span ng-show="registration.otherWorkType.$error.required && registration.otherWorkType.$dirty"  class="label label-danger">Occupation is required.</span>
	</div>


	<div class="form-group">
		<label for="">Designation</label>
		<select name="designation" ng-model="designation" class="form-control" required>
			<option value="">Select Designation</option>
			<option ng-repeat="(ke, val) in allDesignations | toArray | orderBy:'designation_name'" value="{{val.designation_id}}">{{val.designation_name}}</option>
			<option value="other">Other</option>
		</select>
		<span ng-show="registration.designation.$error.required && registration.designation.$dirty"  class="label label-danger">Designation is required.</span>
	</div>


	<div class="form-group" ng-if="showOther(designation)">
		<label for="">Other designation</label>
		<input  name="otherDesignation" ng-model="otherDesignation" class="form-control" required>
		<span ng-show="registration.otherDesignation.$error.required && registration.otherDesignation.$dirty"  class="label label-danger">Designation is required.</span>
	</div> -->

	<button type="submit" class="btn btn-primary" ng-disabled="registration.$pristine || registration.$invalid || buttonClicked" ng-click="userRegistration()">
		Submit
	</button>
</form>


<form name="survey" ng-if="registrationDone" ng-submit="submitSurvey()" novalidate style="height:800px" ng-show="false">

	
	<div class="form-group" ng-if="showQuestionId == value.survey_question_id" ng-repeat="(key, value) in allQuestions">
		<label for="">{{value.question}}</label>
		<form-fields data="value"></form-fields>
	</div>


	<button type="submit" class="btn btn-primary" ng-disabled="buttonClicked">Submit</button>
</form>